```css
body{
    margin:0;
    font-family:Arial;
}

.sidebar{
    width:220px;
    height:100vh;
    background:#0f172a;
    color:white;
    float:left;
}

.sidebar h3{
    text-align:center;
    padding:20px;
}

.sidebar button{
    width:100%;
    padding:12px;
    border:none;
    background:none;
    color:white;
    cursor:pointer;
}

.sidebar button:hover{
    background:#1e293b;
}

.content{
    margin-left:220px;
    padding:20px;
}
```
